[Unit]
Description=Daily update of your own Flatpak apps (Arctic Linux)
Documentation=https://github.com/yuvalkolodkingal/Arctic-Linux/wiki/Updates

[Timer]
OnStartupSec=25min
OnCalendar=daily
RandomizedDelaySec=30min
Persistent=true

[Install]
WantedBy=timers.target
