<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Arctic Linux</vendor>
  <action id="org.arcticlinux.nix.shared">
    <description>Update or roll back shared installer Nix packages</description>
    <message>Administrator authentication is required to change shared Nix packages for all users.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/arctic-nix-system</annotate>
  </action>
</policyconfig>
